* {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
}

.section-header {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.75em;
  color: #000000dd;
}

.nav-section {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0px 10px 0px;
}
